<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Isrcsubmit for MusicBrainz - {{ page.title }}</title>
  <link rel="stylesheet"  type="text/css" href="css/default.css">
</head>

<body>
  <a href="https://github.com/JonnyJD/musicbrainz-isrcsubmit"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">
    <div class="head">
      <div class="download">
        <a href="download"><img src="img/download_48.png"></a>
      </div>

      <h1><a href="https://github.com/{{ site.github.url }}">Isrcsubmit for MusicBrainz</a></h1>
      <h2>
        (Linux / Windows / Mac OS X)
        <span style="float: right;">
          by <a href="https://github.com/JonnyJD">JonnyJD</a>
        </span>
      </h2>
      <div class="description">
        A script to submit ISRCs from disc to MusicBrainz.
      </div>
    </div>
    <div class="nav">{% for link in site.nav %}
      {% assign class = 'inactive' %}
      {% if page.title == link.title %}{% assign class = 'current' %}{% endif %}
      <a class="{{ class }}" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}</div>
    {% assign class = nil %}
    

    <div class="content">
      {{ content }}
    </div>
    <div class="footer">
      get the source code on GitHub : <a href="https://github.com/{{ site.github.url }}">JonnyJD/musicbrainz-isrcsubmit</a>
    </div>

  </div>

</body>
</html>
